*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F8F6F4;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mega-menu {
    background-color: #E3F4F4;
    padding: 20px;
    opacity: 80%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.mega-menu:hover{
    opacity: 100%;
    box-shadow: 0px 10px 20px #D2E9E9;
}

.mega-menu>ul li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.mega-menu>ul li:hover a{
    background-color: #C4DFDF;
    padding: 30px;
}

.mega-menu>ul>li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #D2E9E9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.salam{
    background-color: rgb(218, 218, 218);
    display: inline;
    position: absolute;
    top: 40px;
    left:47%;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.salam:hover::before{
    content: "";
    background-color: rgb(167, 167, 167);
    display: inline;
    position: absolute;
    top: 40px;
    left:47%;
    padding: 10px;
    z-index: 2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.salam:hover::after{
    content: "parvizi";
    background-color: rgb(116, 116, 116);
    display: inline;
    position: absolute;
    top: 59px;
    left:47%;
    padding: 10px;
    z-index: 2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/*form design*/

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px auto;
    position: relative;
    background-color: #87CBB9;
    border-radius: 20px;
    width: 28%;
    position: relative;
    padding: 20px 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

form:hover{
    box-shadow: 20px 20px 30px 100px #87CBB9;
}

form>*{
    display: block;
    margin: 20px;
}

input[type="text"],
input[type="email"]{
    background-color: #B9EDDD;
    padding: 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

form>:nth-last-child(2){
    margin-bottom: 30px;
}

input[type="submit"]{
    padding: 20px;
    background-color: #577D86;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: absolute;
    top: 83%;
    left: 37%;
}

input[type="submit"]:hover{
    background-color: #569DAA;
    color: #000;
    padding: 23px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/* footer */

footer{
    background-color: #E3F4F4;
    position: relative;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer>*{
    padding: 20px;
}

footer:hover{
    box-shadow: 0px -10px 20px #D2E9E9;
}

footer>nav>li{
    padding: 20px;
}

.social{
    position: relative;
    padding: 20px;
    width: 50%;
    background-color: #F8F6F4;
    text-align: center;
    padding-top: 40px;
}

footer>.social>span{
    position: absolute;
    display: block;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    height: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    visibility: hidden;
    padding: 0px 10px;
    padding-top: 35px;
    color: #fff;
}

.social:hover>span{
    height: 100%;
    visibility: visible;
}

.social p {
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.social:hover p{
    visibility: hidden;
}

footer>.social :nth-of-type(2){
    background-color: #569DAA;
    left: 25%;
}
footer>.social :nth-of-type(3){
    background-color: #6c56aa;
    left: 50%;
}
footer>.social :nth-of-type(4){
    background-color: #aa56a6;
    left: 75%;
}
footer>.social :nth-of-type(5){
    background-color: #67aa56;
    left: 100%;
}

.about>h2{
    text-align: center;
}

/* articles */

.article{
    margin: 40px;
}

.article>article{
    display: flex;
    flex-direction: row;
    background-color: #B9EDDD;
    justify-content: space-between;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10px;
}

.article>article:hover{
    box-shadow: 0px 0px 30px 20px #87CBB9;
}

.text-article{
    width: 50%;
}

.text-article:hover{
    text-shadow: 10px 10px 5px #fff;
}

.text-article h3{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.text-article:hover h3{
    word-spacing: 4px;
}

.text-article>*{
    padding: 20px;
    width: 100%;
}

.article>article :nth-of-type(2){
    display: flex;
    justify-content: end;
    width: 50%;
    overflow: hidden;
}

.article>article>div>figure{
    width: 82%;
    text-align: center;
    position: relative;

}

.article>article>div>figure>img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    padding: 20px;
}

.article>article>div>figure::after{
    content: "";
    background-color: #000;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 30%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.article>article>div>figure:hover::after{
    top: 0;left: 0;
}